.dashCols-editButton {
	margin-top: 10px;
}

.dashCols-scrollable {
	overflow-x: scroll;
}

.dashCols-aboutPage td.desc {
	color: rgba( #000, .5 );
}

.dashCols-lightswitch {
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
	&:before {
		content: "✔";
	}
}