.dashCols-editButton {
	margin-top: 10px;
}

.dashCols-scrollable {
	overflow-x: scroll;
}

.dashCols-aboutPage td.desc {
	color: rgba( #000, .5 );
}

.dashCols-lightswitch {
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
	&:before {
		content: "✔";
	}
}

.dashCols-assetFieldImage {
	width: auto;
	float: left;
	max-width: 100%;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
}

.dashCols-assetFieldImage img {
	display: block;
	float: left;
}

.dashCols-assetFieldImage .dashCols-assetFileCount {
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	left: 0; bottom: 0;
	background-color: #333F4D;
	top: auto;
	color: #d7d9db;
	padding: 2px 2px 4px 4px;
}

.dashCols-assetFile {
	width: 100%;
	float: left;
	clear: both;
}

.dashCols-assetFileIcon {
	display: inline-block;
	margin-right: 2px;
}

.dashCols-assetFilename {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
	position: relative;
	top: -6px;
}

.dashCols-assetFileCount {
	display: block;
	width: 100%;
	clear: both;
	font-size: 10px;
	color: rgba( 0, 0, 0, 0.5 );
	line-height: 1;
	position: relative;
	top: -2px;
}

#dashCols-sectionEdit,
#dashCols-defaultFields {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

#dashCols-actions {
	width: 100%;
	float: left;
	clear: both;
}

.tab#tab-dashColsIndex {
	&:before {
		content: "home";
		font-family: 'Craft';
		speak: none;
		font-feature-settings: "liga", "dlig";
		text-rendering: optimizeLegibility;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: anti-aliased;
		-moz-osx-font-smoothing: grayscale;
		user-select: none;
		word-wrap: normal !important;
		line-height: 1;
		position: relative;
		top: 1px;
	}
}

#dashCols-sections {
	width: 100%;
	clear: both;
	float: left;
	ul {
		list-style: none;
		margin: 0; padding: 0;
	}
	li {
		display: inline-block;
		width: auto;
		float: left;
		margin: 0 10px 10px 0;
	}
}

#dashCols-sectionEdit {
	width: 100%;
	clear: both;
	float: left;
}

.elements.datatablesorthelper .move.icon,
.elementindex .move.icon {
	top: 50% !important;
	margin-top: -12px !important;
}

#dashCols-colophone {
	width: 100%;
	float: left;
	clear: both;
	font-size: 11px;
	color: #8f98a3;
	text-align: right;
	margin-top: 20px;
}