.dashCols-editButton {
	margin-top: 10px;
}

.dashCols-scrollable {
	overflow-x: scroll;
}

.dashCols-aboutPage td.desc {
	color: rgba( #000, .5 );
}

.dashCols-lightswitch {
	font-weight: bold;
	padding-left: 10px;
	font-size: 16px;
	&:before {
		content: "✔";
	}
}

.dashCols-defaultFields,
.dashCols-buttons {
	width: 100%;
	float: left;
	clear: both;
}

.dashColds-defaultField {
	margin-bottom: 5px;
	width: 100%;
	float: left;
	clear: both;
	label {
		display: inline-block;
		width: auto;
		float: left;
		padding-top: 3px;
	}
	.lightswitch {
		width: auto;
		float: left;
	}
}